#contact-container{
    max-width: 800px;
    margin: 30px auto;
    padding: 8px;
}

#contact-header{
    margin: 20px 0px;
}

#contact-card-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}