.bottomInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.pill-row{
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
}

.tag-row{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.rs-tag{
    margin: 0px !important;
}

.contributor-name{
    text-align: right;
}